# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Backups and archives
*.zip
*.tar
*.gz
*.rar
backup_photos/

# Editor/IDE configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
